//Primary

$Pink: hsl(322, 100%, 66%);

//Neutral

$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes flutuar {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(3px);
    }    
    100%{
        transform: translateY(0);
    }
}

body{
    width: 100%;
    max-width: 2560px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
        header{
            background: url(../images/bg-hero-desktop.svg) no-repeat;
            background-size: cover;
            background-color: $Very-Pale-Cyan;
            height: 766px;
            margin-bottom: 100px;
                .header-top{
                    width: 100%;
                    max-width: 1440px;
                    padding: 65px;
                    display: flex;
                    justify-content: space-between;
                        .header-button{
                            background-color: white;
                            color: $Very-Dark-Cyan;
                            border: none;
                            width: 185px;
                            border-radius: 28px;
                            cursor: pointer;
                            font-size: 15px;
                            font-weight: 700;
                            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.07);
                            transition: 0.3s;
                                &:hover{
                                    transform: scale(1.05);
                                    color: $Grayish-Blue;
                                }
                        }
                        
                }
                .header-both{
                    display: flex;
                    padding: 65px;
                    .header-both-text{
                        .header-h1{
                            width: 506px;
                            font-size: 43px;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            margin-bottom: 20px;
                        }
                        .header-p{
                            width: 562px;
                            font-size: 18px;
                            color: rgb(1, 43, 43);
                            margin-bottom: 60px;
                        }
                        .header-button2{
                            height: 55px;
                            width: 260px;
                            color: white;
                            font-size: 15px;
                            font-weight: 600;
                            background-color: $Pink;
                            border: none;
                            border-radius: 28px;
                            transition: 0.3s;
                            cursor: pointer;
                                &:hover{
                                 transform: scale(1.05);
                                 opacity: 0.6;
                            }
                            
                        }
                    }
                    .image{
                        margin-left: 105px;
                        margin-right: 48px;
                       img{
                            width: 640px;
                            animation: flutuar 1s infinite;
                        }
                    }    
                }


        }
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        .cards{
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: center;
            .card-1{
                display: flex;
                width: 1250px;
                border: 1px white solid;
                border-radius: 10px;
                box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
                margin-bottom: 20px;
                padding: 30px;
                    .text-card-1{
                        padding: 90px;
                            .main-h2-1{
                                font-size: 25px;
                                margin-bottom: 20px;
                            }
                            .main-p-1{
                                color: $Grayish-Blue;
                                line-height: 23px;
                                font-size: 18px;
                                width: 480px;
                            }
                    }
                    img{
                        position: absolute;
                        right: 121px;
                        width: 370px;
                        padding: 25px;
                    }
            }
            .card-2{
                display: flex;
                width: 1250px;
                border: 1px white solid;
                border-radius: 10px;
                box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
                margin-bottom: 20px;
                padding: 30px;
                    .text-card-2{
                        padding: 90px;
                        margin-left: 90px;
                            .main-h2-2{
                                font-size: 25px;
                                margin-bottom: 20px;
                            }
                            .main-p-2{
                                color: $Grayish-Blue;
                                line-height: 23px;
                                font-size: 18px;
                                width: 500px;
                            }
                    }
                    img{
                        width: 370px;
                        margin-left: 83px;
                        padding: 25px;
                    }
            }
            .card-3{
                display: flex;
                width: 1250px;
                border: 1px white solid;
                border-radius: 10px;
                box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
                margin-bottom: 150px;
                padding: 30px;
                    .text-card-3{
                        padding: 90px;
                    }
                    .main-h2-3{
                        font-size: 25px;
                        margin-bottom: 20px;
                    }
                    .main-p-3{
                        color: $Grayish-Blue;
                        line-height: 23px;
                        font-size: 18px;
                        width: 480px;
                    }
                    img{
                        width: 370px;
                        margin-left: 15px;
                        padding: 25px;
                    }
            }
        }  
        .mini-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 850px;
            height: 220px;
            padding: 45px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.04);
            background-color: white;
            margin-bottom: -100px;
                .mini-card-h2{
                    text-align: center;
                    font-size: 32px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    margin-bottom: 25px;
                }
                .mini-card-btn{
                    width: 500px;
                    height: 104px;
                    border-radius: 28px;
                    border: none;
                    background-color: $Pink;
                    color: white;
                    font-size: 20px;
                    transition: 0.3s;
                        &:hover{
                            transform: scale(1.03);
                            opacity: 0.7;
                        }
                }
        }  
        }
        footer{
            background-color: $Very-Dark-Cyan;
            height: 640px;
            padding: 157px;
            display: flex;
            color: white;
                a{
                 color: white;
                 text-decoration: none;
                 transition: 0.3s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                img{
                    margin-bottom: 30px;
                    width: 270px;
                 filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(25%) hue-rotate(310deg) brightness(105%) contrast(100%);
                }
                .footer-left{
                    flex-direction: column;
                        .location{
                            margin: 0;
                            font-size: 18px;
                            width: 375px;
                            line-height: 25px;
                            margin-bottom: 35px;
                            img{
                                width: 16px;
                                margin: 0;
                                margin-right: 6px;
                            }
                        }
                        .number{
                            margin: 0;
                            font-size: 18px;
                            width: 375px;
                            line-height: 25px;
                            margin-bottom: 35px;
                            img{
                                width: 16px;
                                margin: 0;
                                margin-right: 9px;
                            }
                        }
                        .email{
                            font-size: 18px;
                            width: 375px;
                            line-height: 25px;
                                img{
                                width: 16px;
                                margin: 0;
                                margin-right: 9px;
                                }
                        }
                }
                .middle-1{
                    display: flex;
                    flex-direction: column;
                    padding: 80px;
                    width: 298px;
                    line-height: 40px;
                    margin-left: 57px;
                }
                .middle-2{
                    display: flex;
                    flex-direction: column;
                    padding: 80px;
                    width: 282px;
                    line-height: 40px; 
                }
                .icones{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .icones-social{
                        display: flex;
                        justify-content: space-between;
                        width: 121px;
                        cursor: pointer;
                            img{
                                width: 25px;
                                margin-top: 25px;
                                &:hover{
                                transition: 0.6s;
                                filter: brightness(0) saturate(100%) invert(50%) sepia(96%) saturate(2162%) hue-rotate(293deg) brightness(100%) contrast(103%);
                                }
                            }
                    }
                    .copy{
                        width: 225px;
                        font-size: 10px;
                    }
                }
        }
@media (min-width: 1800px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        .cards{
            .card-1{
                img{
                    right: 724px;
                }
            }
        }
    }
    footer{
        justify-content: center;
    }
}

@media (max-width: 375px){
    width: 1372px;
    height: auto;
        header{
            height: 1326px;
            .header-top{
                img{
                    width: 408px;
                }
                .header-button{
                    height: 75px;
                    width: 300px;
                    font-size: 32px;
                }
            }
            .header-both{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                .header-both-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .header-h1{
                      font-size: 46px;
                      text-align: center;
                    }
                    .header-p{
                        font-size: 34px;
                        text-align: center;
                        width: 650px;
                    }
                    .header-button2{
                        margin-bottom: 45px;
                        height: 74px;
                        width: 351px;
                        font-size: 28px;
                    }
                }
                .image{
                    img{
                        width: 682px;
                    }
                }
            }
        }
        main{
            .cards{
                .card-1{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    width: 730px;
                        .text-card-1{
                            .main-h2-1{
                                text-align: center;
                                font-size: 44px;
                            }
                            .main-p-1{
                                text-align: center;
                                font-size: 26px;
                                line-height: 30px;
                            }
                        }
                        img{
                            width: 555px;
                            right: 0;
                            position: initial;
                        }
                }
                .card-2{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 730px;
                    .text-card-2{
                        .main-h2-2{
                            text-align: center;
                            font-size: 44px;
                        }
                        .main-p-2{
                            text-align: center;
                            font-size: 26px;
                            line-height: 30px;
                        }
                    }
                        img{
                            width: 555px;
                        }
                }
                .card-3{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    width: 730px;
                    .text-card-3{
                        .main-h2-3{
                            text-align: center;
                            font-size: 44px;
                        }
                        .main-p-3{
                            text-align: center;
                            font-size: 26px;
                            line-height: 30px;
                        }
                    }
                        img{
                            width: 555px;
                        }

                }
            }
        }
        footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 1216px;
            .footer-left{
                    img{
                        width: 425px;
                    }
                   
                .location{
                    width: 439px;
                    line-height: 30px;
                    font-size: 30px;
                        img{
                            width: 26px;
                        }
                }
                .number{
                    width: 439px;
                    font-size: 30px;
                    img{
                        width: 26px;
                    }
                }
                .email{
                    width: 439px;
                    font-size: 30px;
                    img{
                        width: 26px;
                    }
                }
            }
            .middle-1{
                width: 600px;
                margin: 0;
                    a{
                        font-size: 28px;
                    }
            }
            .middle-2{
                width: 600px;
                margin: 0;
                margin-top: -156px;
                    a{
                        font-size: 28px;
                    }
            }
            .icones{
                .icones-social{
                    width: 655px;
                    display: flex;
                    justify-content: space-around;
                    img{
                        width: 68px;
                    }
                }
                .copy{
                    width: 654px;
                    font-size: 31px;
                }
            }
        }
}
}